button, hr, input {
    overflow: visible;
}
audio, canvas, progress, video {
    display: inline-block;
}
progress, sub, sup {
    vertical-align: baseline;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%}
body {
    margin: 0;
    background: #7350ff;
}
 menu, article, aside, details, footer, header, nav, section {
    display: block;
}

nav {
    height: 10vh;
    width: 100vw;
    background-color: white;
}
nav img{
   width: 10vh; 
}



@font-face {
    font-family: "Digi";
    src: url("fonts/ds-digib.ttf");
  }
  
  body {
    font-family: Arial;
    font-size: 80px;
    font-weight: bold;
    padding: 40px 0;
  }

.items{
    margin-top:10vh;
    margin-left: 10vh;
    font-size: 1em;
}